.theme-dark {
  --theme-app-bg: var(--color-gray-900);
  --theme-app-text-color: var(--color-whiteAlpha-900);
  --theme-app-text-underline-color: var(--color-whiteAlpha-300);
  --theme-app-codebox-bg: var(--color-whiteAlpha-100);
  --theme-app-color-primary-header: var(--color-orange-200);
  // Scroll Bar
  --theme-app-scrollbar-thumb-bg: var(--color-whiteAlpha-300);
  --theme-app-scrollbar-thumb-border-bg: var(--color-gray-900);
}
